/***** Auto-complete *****/
div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
  font-size: 90%;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
div.autocomplete ul li span.informal {
  font-size: 80%;
  color: #aaa;
} 
